@import url("https://indestructibletype.com/fonts/Jost.css");
// @import  "./color-themes.scss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--background);
}

#app {
  font-family: "Jost", Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

#main {
  color: var(--font);
}

.container {
  display: grid;
  gap: 1rem;
  margin: 0 auto;
  // grid-template-rows: auto 1fr auto auto;
  grid-template-areas:
    "navbar"
    "content";
  place-items: center;
  min-height: 100vh;
}

.card {
  background-color: var(--card);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.25);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid var(--card-border);
  padding: 1rem;
  // width: fit-content;
  // width: -moz-fit-content; /* Firefox/Gecko */
  // width: -webkit-fit-content; /* Chrome */
}

.navbar {
  grid-area: navbar;
  margin: 0.5rem 0;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  pointer-events: none;

  .card {
    margin: 0 auto;
    pointer-events: auto;
  }

  .settings-icon {
    margin-left: auto;
    align-self: center;
    pointer-events: auto;
  }
}
.content {
  grid-area: content;
  margin-bottom: 10rem;
  z-index: 5;
  section {
    margin: 2rem auto;
    width: calc(100% - 3rem);

    p {
      text-align: left;
    }
  }
}

a {
  text-decoration: none;
  font-weight: bold;
  padding: 1rem;
  color: $violet;

  &:hover {
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  }
}

@media (min-width: 720px) {
  .container {
    grid-template-areas:
      "navbar"
      "content";
    max-width: 1024px;
    width: 90vw;
  }

  .navbar {
    .card,
    .settings-icon {
      margin: 1rem 0;
    }
  }

  .content {
    section {
      width: calc(100% - 2rem - 2px);
      margin: 0;
    }
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 2fr 1fr;
    // grid-template-rows: auto;
    grid-template-areas:
      "welcome about"
      "projects about"
      "projects skills"
      "projects contact"
      "projects .";
  }

  #welcome {
    grid-area: welcome;
  }
  #about {
    grid-area: about;
  }
  #skills {
    grid-area: skills;
  }
  #projects {
    grid-area: projects;
  }
  #contact {
    grid-area: contact;
  }
}
